<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add Expense</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<h2>Add Expense</h2>

<form th:action="@{/save-expense}"
      th:object="${expense}"
      method="post">

    <label>Title:</label>

    <input type="text"
           th:field="*{title}">

    <br><br>

    <label>Amount:</label>

    <input type="number"
           th:field="*{amount}">

    <br><br>

    <label>Category:</label>

    <input type="text"
           th:field="*{category}">

    <br><br>

    <button type="submit">
        Save
    </button>

</form>

</body>
</html>