<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Uploaded Files</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <div class="card">

        <!-- TITLE -->

        <h2>
            Uploaded Files
        </h2>

        <!-- TOP BUTTON -->

        <div class="top-actions">

            <a href="/upload"
               class="upload-btn">

                Upload New File

            </a>

        </div>

        <!-- TABLE -->

        <table>

            <tr>

                <th>
                    File Name
                </th>

                <th>
                    Actions
                </th>

            </tr>

            <tr th:each="file : ${files}">

                <!-- FILE NAME -->

                <td th:text="${file.fileName}">
                </td>

                <!-- ACTION BUTTONS -->

                <td>

                    <div class="action-buttons">

                        <!-- OPEN -->

                        <a th:href="@{/view-file/{name}(name=${file.fileName})}"
                           target="_blank"
                           class="file-link">

                            Open

                        </a>

                        <!-- DELETE -->

                        <a th:href="@{/delete-file/{name}(name=${file.fileName})}"
                           class="delete-link">

                            Delete

                        </a>

                    </div>

                </td>

            </tr>

        </table>

    </div>

</div>

</body>

</html>