<!-- index.html -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>SmartVault</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="home">

    <div class="home-content">

        <h1>
            Welcome to SmartVault
        </h1>

        <p>
            Securely manage expenses,
            files and financial data.
        </p>

        <div class="home-buttons">

            <a href="/register">
                Register
            </a>

            <a href="/login">
                Login
            </a>

            <a href="/dashboard">
                Dashboard
            </a>

        </div>

    </div>

</div>

</body>

</html>