<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Success</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <div class="card success-card">

        <div class="success-icon">

            ✅

        </div>

        <h2>
            Registration Successful
        </h2>

        <p>
            Your SmartVault account
            has been created successfully.
        </p>

        <a href="/dashboard"
           class="success-btn">

            Go to Dashboard

        </a>

    </div>

</div>

</body>

</html>